<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="TestApplication.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<TestApplication.Properties.Settings>
   <setting name="ShapefileInputText" serializeAs="String">
    <value />
   </setting>
   <setting name="GridInputText" serializeAs="String">
    <value />
   </setting>
   <setting name="ImageInputText" serializeAs="String">
    <value />
   </setting>
   <setting name="FormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="GridfileToClip" serializeAs="String">
    <value />
   </setting>
   <setting name="ClippingPolygon" serializeAs="String">
    <value />
   </setting>
   <setting name="ShapefileToGrid" serializeAs="String">
    <value />
   </setting>
   <setting name="RasterizeInputfile" serializeAs="String">
    <value />
   </setting>
   <setting name="BufferShapefile" serializeAs="String">
    <value />
   </setting>
   <setting name="SimplifyShapefile" serializeAs="String">
    <value />
   </setting>
   <setting name="AggregateShapefile" serializeAs="String">
    <value />
   </setting>
   <setting name="AggregateFieldindex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DissolveShapefile" serializeAs="String">
    <value />
   </setting>
   <setting name="DissolveFieldindex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ClipShapefileInput" serializeAs="String">
    <value />
   </setting>
   <setting name="ClipShapefileOverlay" serializeAs="String">
    <value />
   </setting>
   <setting name="IntersectionShapefileFirstInput" serializeAs="String">
    <value />
   </setting>
   <setting name="IntersectionShapefileSecondInput" serializeAs="String">
    <value />
   </setting>
   <setting name="WktShapefile" serializeAs="String">
    <value />
   </setting>
   <setting name="SpatialIndexInputfile" serializeAs="String">
    <value />
   </setting>
   <setting name="OGRInfoInputfile" serializeAs="String">
    <value />
   </setting>
   <setting name="ClosestPointShapefileInput1" serializeAs="String">
    <value />
   </setting>
   <setting name="ClosestPointShapefileInput2" serializeAs="String">
    <value />
   </setting>
   <setting name="ClipGridByPolygonInputfile" serializeAs="String">
    <value />
   </setting>
   <setting name="TilesInputfile" serializeAs="String">
    <value />
   </setting>
   <setting name="RasterAInput" serializeAs="String">
    <value />
   </setting>
   <setting name="RasterBInput" serializeAs="String">
    <value />
   </setting>
   <setting name="RasterCalculatorFormulas" serializeAs="String">
    <value />
   </setting>
   <setting name="RasterCalculatorInput" serializeAs="String">
    <value />
   </setting>
   <setting name="Filemanager_GridOpen" serializeAs="String">
    <value />
   </setting>
   <setting name="Filemanager_OpenFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="GridProxyInput" serializeAs="String">
    <value />
   </setting>
   <setting name="ReclassifyInput" serializeAs="String">
    <value />
   </setting>
   <setting name="IntersectionShapefileInput" serializeAs="String">
    <value />
   </setting>
   <setting name="ClosestPointInput" serializeAs="String">
    <value />
   </setting>
   <setting name="AnalyzeFilesInput" serializeAs="String">
    <value />
   </setting>
   <setting name="AxMapClearInput" serializeAs="String">
    <value />
   </setting>
   <setting name="PostgisInput" serializeAs="String">
    <value />
   </setting>
   <setting name="PostGisCreateDb" serializeAs="String">
    <value />
   </setting>
   <setting name="PostGisPrivilegesInput" serializeAs="String">
    <value />
   </setting>
   <setting name="PostGisImportSfInput" serializeAs="String">
    <value />
   </setting>
   <setting name="PostGisDropDbInput" serializeAs="String">
    <value />
   </setting>
   <setting name="SingleSidedBuffer" serializeAs="String">
    <value />
   </setting>
  </TestApplication.Properties.Settings>
		<TestApplication.Settings1>
			<setting name="shapefileInputText" serializeAs="String">
				<value/>
			</setting>
		</TestApplication.Settings1>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
