<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="TestApplication.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<TestApplication.Properties.Settings>
			<setting name="ShapefileInputText" serializeAs="String">
				<value/>
			</setting>
			<setting name="GridInputText" serializeAs="String">
				<value/>
			</setting>
			<setting name="ImageInputText" serializeAs="String">
				<value/>
			</setting>
			<setting name="FormLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="GridfileToClip" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClippingPolygon" serializeAs="String">
				<value/>
			</setting>
			<setting name="ShapefileToGrid" serializeAs="String">
				<value/>
			</setting>
			<setting name="RasterizeInputfile" serializeAs="String">
				<value/>
			</setting>
			<setting name="BufferShapefile" serializeAs="String">
				<value/>
			</setting>
			<setting name="SimplifyShapefile" serializeAs="String">
				<value/>
			</setting>
			<setting name="AggregateShapefile" serializeAs="String">
				<value/>
			</setting>
			<setting name="AggregateFieldindex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="DissolveShapefile" serializeAs="String">
				<value/>
			</setting>
			<setting name="DissolveFieldindex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ClipShapefileInput" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClipShapefileOverlay" serializeAs="String">
				<value/>
			</setting>
			<setting name="IntersectionShapefileFirstInput" serializeAs="String">
				<value/>
			</setting>
			<setting name="IntersectionShapefileSecondInput" serializeAs="String">
				<value/>
			</setting>
			<setting name="WktShapefile" serializeAs="String">
				<value/>
			</setting>
			<setting name="SpatialIndexInputfile" serializeAs="String">
				<value/>
			</setting>
			<setting name="OGRInfoInputfile" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClosestPointShapefileInput1" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClosestPointShapefileInput2" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClipGridByPolygonInputfile" serializeAs="String">
				<value/>
			</setting>
			<setting name="TilesInputfile" serializeAs="String">
				<value/>
			</setting>
		</TestApplication.Properties.Settings>
		<TestApplication.Settings1>
			<setting name="shapefileInputText" serializeAs="String">
				<value/>
			</setting>
		</TestApplication.Settings1>
	</userSettings>
	<startup/></configuration>
