<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MWLite.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MWLite.GUI.Properties.Settings>
            <setting name="LastProject" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="ShowNagScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </MWLite.GUI.Properties.Settings>
    </userSettings>
</configuration>