/* Make header fixed at the top using flex layout*/
html,
body,
#page {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
}

#page {
  display: flex;
  flex-direction: column;
}

#top {
  flex: 0 0 auto;
}

.header {
  flex: 0 0 auto;
}

div.contents {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

div.footer {
  flex: 0 0 auto;
}

  div.footer > div {
    margin-left: 10px;
  }

/* Standard settings */
.bold {
  font-weight: bold;
}

div.fragment {
  padding: 3px;
  margin-bottom: 12px;
}

td#projectalign {
  padding-right: 1em;
  padding-top: 6px;
  text-align: right;
}

  td#projectalign img {
    height: 96px;
    border: 0;
  }

  td#projectalign a:hover {
    text-decoration: none;
  }
